{% extends'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi atque debitis dignissimos dolor
            dolores fuga harum illo in iste itaque mollitia nihil obcaecati, provident quae quo rerum temporibus
            voluptas!</p>
    </div>

    <div class="div container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }}({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formattedPrice}} $</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
